@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro&display=swap');

$main: 'Source Sans Pro', sans-serif;
$open:  'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;


// NAVBAR
.navbar-expand-md {
	
}
// INDEX EJS START

#indexEJS{
	.col-sm-6{
		margin-bottom: 25px;
	}
	.jumbotron {
		
		background-image: url("../img/dog.jpg");
		background-position: center right;
		background-size: cover;
		background-repeat: no-repeat;
		.container{
			padding:25px 50px;
		}
		
		@media screen and (max-width: 500px) {
		background-image: url("../img/dog.jpg");
		background-position: center right;
		background-size: cover;
		background-repeat: no-repeat;
	}
	}
	
}

// INDEX EJS END

// CAMPGROUNDS SHOW EJS START
#showEJS{ 

	.review-buttons{
		display:inline-flex;
		float:right;
			a {
	margin-right:5px;
	
}
		
	}
	
	.col-md-4{
		
	
		.card{
			
				a {
		text-decoration: none;
		color:black;
		&:hover{
			cursor: pointer;
			color: #333;
		}
	}
			.with-reviews{
		height: auto;
		max-height: 600px;
		overflow:-moz-scrollbars-none
				scroll; 
		overflow-y:
			scroll;
				&::-webkit-scrollbar {
					display: none;
							}
	}
	
		}
		.btn-outline-primary{
		margin: 20px 0px;
	}
	}
	
	// 	COMMENT SECTION SCSS
	#commentBox {
		#commentTitle{
			font-family: $open;
			font-size: 1.5em;
		}
	}
	#collapseComment{
		
		margin-top: 25px;
		.card {
			border-left: 5px solid #00C851;
			padding: 15px;
		}
	}
	

}
// LOGIN EJS

#loginEJS{
	
	small{
		display:flex;
		justify-content: center;
		text-align: center;
		margin: 5px auto;
		 font-weight: 700;
	}
	a{
		margin-left: 10px;
		text-decoration: none;
		color:black;
		&:hover{
			color:#333;
		}
	}
	.link{
	  text-decoration: none !important;
	  color: #000;
	  font-weight: 700;
	  padding-top: 0px;
	  text-transform: capitalize;
	  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #5bc0de 65%);
	  transition: all 0.5s ease-in-out;
		&:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #0275d8 65%);
    color: black; }
	}
	

	height: 85vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

#delForm {
	margin-left:10px;
}
#commentButtons {
	display: inline-flex;
	a {
	margin-right:5px;
	
}
	
}

.checked {
    color: orange;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#footer{
	margin-top: 25px;
	height: 200px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}